body, html {
	margin:0;
	width:100%;
	height:100%;
	font-family: Helvetica, sans-serif;
}

button {}

.sandbox {
	position:absolute;
	left:-9999px;
	top:-9999px;
	visibility:none;
	z-index:-999;
	pointer-events:none;
}
.group {
	content: "";
	display: table;
	width:100%;
	clear: both;
}

div#main {}
	div.brushWrap {
		height:100%;
		width: 20%;
		box-sizing:border-box;
		display:inline-block;
		border-right: 1px solid #000;
		overflow-x: scroll;
	}
	div.brushInnerWrap {
		position: relative;
	}
	div.buttonWrap {
		border-bottom: 1px solid #000;
	}
		div.buttonWrap > button {
			display: block;
			margin: 30px auto 25px auto;
		}
	.brush-list {
		padding-bottom: 100px;
		list-style-type:none;
		margin:0;
		padding:0;
		font-size:0.55em;
	}
	
		.annotation {
			position: relative;
			border-bottom:#BBB solid 1px;
		}
		.annotation > a {
			margin:0.6em 0.5em;
			display:block;
		}
		.annotation.grouped {
			background-color:#99cae5;
			border-bottom:#55849e solid 1px;
		}
		.annotation.grouped.onset::before {
			content:"Seizure";
			display:block;
			margin-bottom:0.4em;
			background-color:#178ccb;
			color:#FFF;
			padding:0.4em;
			font-size:0.8em;
			font-weight:bold;
		}
		.annotation:last-child {
			border-bottom:none !important;
		}
			.annotation > a {
				color:inherit;
				text-decoration:none;
			}
				.annotation h2 {
					/*font-size:1.2em;*/
					margin:0.1em;
				}
				.annotation .time {
					float:right;
					font-size:0.7em;
				}
				.annotation .note {
					color: grey,
					font-size: 0.7em,
					padding: 5px 20px 0 20px,
				}

	.d3wrap {
		width:80%;
		position:relative;
		box-sizing:border-box;
		display:inline-block;
		vertical-align:top;
		height:100%;
	}
		.plot-container {
			position:absolute;
			z-index:1;
			overflow-x:hidden;
			
			left:0;
			top:0;
			right:0;
			bottom:0;
		}
			canvas.plot {
				position:absolute;
				
				left:0;
				top:0;
				right:0;
				bottom:0;
			}
			#minimap_canvas, #minimap_svg {
				position:absolute;
				
				left:0;
				right:0;
				bottom:0;
			}
		svg.plot {
			position:absolute;
			z-index:2;
			
			left:0;
			top:0;
			right:0;
			bottom:0;
		}

			.line {
				stroke-width:1px;
				vector-effect:non-scaling-stroke;
				stroke:black;
				fill:none;
			}
			.zoom {
				cursor: move;
				fill: none;
				pointer-events: all;
				z-index:10;
				height:100%;
				width:100%;
			}
			.brush .selection {
				stroke: #178ccb;
				fill: #178ccb;
			}

			.brush.point .selection {
				stroke: #178ccb;
				fill: #178ccb;
				fill-opacity: 1;
			}

			.brush .range .selection {
				stroke: #178ccb;
				fill: #178ccb;
			}
			
			.minimap-chart-ele {
				stroke:#000;
				stroke-width:1px;
			}
	
	
		.annotation-edit .annotation-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 999;
		}
		.annotation-edit .annotation-menu {
			position: absolute;
			background-color: white;
			top: 0px;
			left: 0px;
			z-index: 1000;
			border: 1px solid #ccc;
			padding: 20px;
			box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
			border-radius: 3px;
		}
		.annotation-edit .annotationBar {
			position: absolute;
			z-index: 998;
			height: 640px;
			width: 2px;
			background-color: #178ccb;
			top: 9px;
			left: 0px
		}